In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('IITK_Courses_Report.csv')

In [3]:
print(data)

         Student Name  Course  Marks (%)  Attendance (%)
0         Dipon Konar  ELC111      56.72           63.08
1      Parth Parashar  PHY113      84.59           20.96
2         Anurag Sahu  MTH113      41.13           59.86
3    Hemakshi Kumawat  CHM112      59.43           57.34
4      Parth Parashar  ELC111      62.88           30.82
..                ...     ...        ...             ...
195     Kritika Singh  ELC112      68.57           77.98
196   Harshit Karnani  PHY112      52.31           35.75
197       Sneha Patra  PHY113      58.98           21.98
198       Ashma Singh  PHY111      88.56           82.63
199    Parth Parashar  PHY115      80.52           42.89

[200 rows x 4 columns]

In [4]:
null = data.isnull().sum()

In [5]:
print(null)

Student Name      12
Course             3
Marks (%)         13
Attendance (%)    17
dtype: int64

In [6]:
print(data)

         Student Name  Course  Marks (%)  Attendance (%)
0         Dipon Konar  ELC111      56.72           63.08
1      Parth Parashar  PHY113      84.59           20.96
2         Anurag Sahu  MTH113      41.13           59.86
3    Hemakshi Kumawat  CHM112      59.43           57.34
4      Parth Parashar  ELC111      62.88           30.82
..                ...     ...        ...             ...
195     Kritika Singh  ELC112      68.57           77.98
196   Harshit Karnani  PHY112      52.31           35.75
197       Sneha Patra  PHY113      58.98           21.98
198       Ashma Singh  PHY111      88.56           82.63
199    Parth Parashar  PHY115      80.52           42.89

[200 rows x 4 columns]

In [7]:
notreq = data[(data['Student Name'].isnull()) | (data['Course'].isnull())].index

In [8]:
print(notreq)

Index([18, 24, 42, 64, 82, 96, 104, 112, 120, 128, 152, 160, 168, 184, 192], dtype='int64')

In [9]:
data = data.drop(notreq)

In [10]:
print(data)

         Student Name  Course  Marks (%)  Attendance (%)
0         Dipon Konar  ELC111      56.72           63.08
1      Parth Parashar  PHY113      84.59           20.96
2         Anurag Sahu  MTH113      41.13           59.86
3    Hemakshi Kumawat  CHM112      59.43           57.34
4      Parth Parashar  ELC111      62.88           30.82
..                ...     ...        ...             ...
195     Kritika Singh  ELC112      68.57           77.98
196   Harshit Karnani  PHY112      52.31           35.75
197       Sneha Patra  PHY113      58.98           21.98
198       Ashma Singh  PHY111      88.56           82.63
199    Parth Parashar  PHY115      80.52           42.89

[185 rows x 4 columns]

In [11]:
def gm(data, col):
    for i in range(1, len(data)-1):
        if (pd.isnull(data[col].iloc[i])):
            up = data[col].iloc[i-1]
            down = data[col].iloc[i+1]
            data.loc[i,col] = (up*down)**(0.5)
    return data

In [12]:
num = ['Marks (%)','Attendance (%)']
for col in num:
    data = gm(data,col)

In [13]:
data.to_csv('cleaned_IITK_Courses_Report.csv')